// Place all the styles related to the Zat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #index {
     box-sizing: border-box;
     width: auto;
     margin: auto;
     max-width: 1020px;
     padding: 250px 32px;
 }


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}





h1, h2 {
  color: green;
}


id:zats {
  color: red;
}

article ol {
  color: red;
}

h3 + p {
  color: blue;
}

* {
  color: rgb(8, 80, 139);
}


input[type="text"] {
  width: 5500px;
}


a:link {
  color: blue;
}
 
a:visited {
  color: purple;
}























